/* FONTS */
@font-face {
  font-family: ManropeBold;
  src: url("fonts/manrope/manrope-bold.otf");
  
}

@font-face {
  font-family: DancingScript;
  src: url("fonts/dancing-script/dancing.otf");
}

@font-face {
  font-family: AvrileSans;
  src: url("fonts/avrile-sans/AvrileSans-BoldItalic.ttf");
}











/* GENERAL */
*{
	margin: 0 0 0 0;
	padding: 0 0 0 0;
}


li{
  list-style-type: none;
}
html, body{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}
#page{
  margin: 0;
  padding: 0;
  height: 100%;
}








/* TOP HEADER */


#top-header{
	position: relative;
	background-color: #F5F5F5;

	height: 50px;
	width: 100%;

}
#top-header .right{
	float: right;
	font-family: AvrileSans;
	font-size: 15px;
}
#top-header .right a{
	margin-right: 15px;
}











/* HEADER */

#header .donate{
  height: 40px;
  margin-right: 15px;
  margin-top: 27px;
  float: right;
  background-color: pink;
  margin-right: 22px;

  border-radius: 6px;
  
}
.donate a {


  color: white;
  text-align: center;
  padding-top: 9px;

}
#header .donate:hover{
	background-color: red;
	transition: 0.3s;

}

#header a{
  font-family: ManropeBold;
  font-size: 18px;

}
#header{
  position: relative;
  border-bottom: 3px solid blue;

  margin: 0 0 0 0;
  padding: 0px;
  width: 100%;
  height: 100px;
  background-color: white;
}
#header .image {

  width: 90px;
  height: 30px;

}

#header ul {

  padding: 0px;
}


#header ul li a{

  font-family: Arial;
}

#header img{
	position: absolute;
	margin-left: 100px;
	display: block;
	margin-top: 20px;

  width: 220px;
  height: 50px;
  
  padding: 0px;

}
#header .left {
  float: left;
  margin-left: 35px;
  margin-top: 5px;

}
#header .right {
  float: right;
  margin-right: 35px;
  margin-top: 20px;

}

li a, .dropbtn {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#header .right li a:hover, #header .right a:hover, #header .dropdown-content a:hover, .dropdown:hover .dropbtn {
  //background-color: orange;
  border-radius: 10px;
  color: #76B656;
  transition: 0.3s;
}

#header li .dropdown {
  display: inline-block;
  color: black;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: black;

}

















/* MAIN */
#main{
  position: relative;

}
#main div{
	
	width: 100%;
	margin-top: 0;
	padding: 0;
	display: inline-block;

}
#main div h1{

	text-align: center;
	padding-top: 120px;
	font-family: Arial;
	color: white;
}

#main #secondaryheader{
position: absolute;

  background-color: #76B656;
  opacity: 0.95;
  margin-left: 10%;
  margin-top: 0px;
  height:80px;
  width: 75%;
}
#main #slideImage {
	width: 100%;
	height: 70%;

}



#main #secondaryheader .right a:hover{
  //background-color: white;
  border-bottom : 3px solid white;


}
#secondaryheader a{
  color: white;
}
#main #secondaryheader .right{

  float: right;
  padding-top: 0;

  margin-top: 17px;
  height: 150px;
  width: 100px;
  font-family: ManropeBold;
}

#mainstory{
  position: relative;

	margin: 0;
	//background-image: url("resources/stc1.png");
	//background-size: cover;
  //background-color: gray;

	height:500px;
	width:100%;

}

#secondstory{
	margin-top:0;

	//background-image: url("resources/stc2.png");
	//background-size: cover;

  background-color: green;

	height:450px;
	width:100%;

}
#thirdstory{
	margin-top:0;


	//background-image: url("resources/stc3.png");
	//background-size: cover;
  background-color: orange;
	height:400px;
	width:100%;

}
















/* FOOTER */

.footer {
  width: 100%;
  position: relative;
  height: 320px;
  background-color: #87C487;
}
.footer .col {
  width: 190px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: ManropeBold;
  font-size: 12px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color: white;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.250em;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: white;
  font-size: 14px;
  font-family: DancingScript;
  font-size: 20px;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #dddddd;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}








/* BOTTOM FOOTER */
 #bottom-footer{




 }

